<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Golden</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="fonts/Wisdom Script AJ.otf">
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="logo">
					<a href="#">Golden</a>
					<ul class="nav">
						<li><a href="#">Home</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
		</header>
		<div class="home">
			<div class="container">
				<h3>
					Welcome To Our Studio!
				</h3>
				<h1>
					It’s nice to Meet you
				</h1>
				<button class="home__button">Tell Me More</button>
			</div>
		</div>
		<section class="Services box">
			<div class="services__title">
				<h2 class="services__title-h2">Services</h2>
				<p class="services__title-description">Proin iaculis purus consequat sem cure.</p>
			</div>
			<div class="services__item-wrap">
				<div class="services__items">
					<div class="services__item">
						<h4 class="services__item-title">E-Commerce</h4>
						<p class="services__item-description">
							Proin iaculis purus consequat sem cure<br> 
							digni ssim. Donec porttitora entum<br> 
							suscipit
						</p>
					</div>
					<div class="services__item">
						<h4 class="services__item-title">Responsive Web</h4>
						<p class="services__item-description">
							Proin iaculis purus consequat sem cure<br> 
							digni ssim. Donec porttitora entum<br> 
							suscipit
						</p>
					</div>
					<div class="services__item">
						<h4 class="services__item-title">Web Security</h4>
						<p class="services__item-description">
							Proin iaculis purus consequat sem cure<br> 
							digni ssim. Donec porttitora entum<br> 
							suscipit
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	
</body>
</html>